_minted/
venv/
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cbl
*.cb2
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.spl
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.maf
*.mtc*
*.toc
*.upa
*.upb
*.pdfsync
*.synctex.gz
*.out.ps
*.thm
*.tps
*.pyg
*.pygstyle
*.snm
*.nav
*.vrb
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.aux
*.bbl
*.blg
*.run.xml
*.bcf
*.lof
*.lot
*.maf
*.mtc*
*.synctex.gz
*.fdb_latexmk
*.fls
*.out
*.toc